.carrosel_area{

}
.carrosel_area .carrosel .container-fluid .carousel-inner .carousel-item > img{
 
}
.carrosel_area .carrosel .container-fluid .carousel-inner .carousel-item > img:hover{
 box-shadow: var(--box-shadow);
 transform: scale(1.1);
 filter: brightness(0.9);
}
